### Refining Data

In [1]:
import pandas as pd

In [34]:
crop_yield = pd.read_csv(r'E:\competition\SITNovate hack\SITNovate_blueberry\SITNovate\Data\crop_yield.csv')
crop_data = pd.read_csv(r'E:\competition\SITNovate hack\SITNovate_blueberry\SITNovate\Data\Crop_Data.csv')

In [35]:
# Clean whitespace in key columns
for df in [crop_yield, crop_data]:
    df['Crop'] = df['Crop'].str.strip()
    df['Season'] = df['Season'].str.strip()
    df['State'] = df['State'].str.strip()

In [36]:
merged_df = pd.merge(
    crop_yield,
    crop_data,
    on=['Crop', 'Season', 'State', 'Area'],
    how='inner'
)

In [40]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5799 entries, 0 to 5798
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Crop              5799 non-null   object
 1   Crop_Year         5799 non-null   int64
 2   Season            5799 non-null   object
 3   State             5799 non-null   object
 4   Area              5799 non-null   float64
 5   Production        5799 non-null   int64
 6   Annual_Rainfall   5799 non-null   float64
 7   Fertilizer        5799 non-null   float64
 8   Pesticide         5799 non-null   float64
 9   Yield             5799 non-null   float64
 10  Soil Type         5799 non-null   object
 11  Pesticide Usage   5799 non-null   object
 12  pH                5799 non-null   object
 13  Temperature       5799 non-null   object
 14  Fertilizer Usage  5799 non-null   object
 15  Price             5799 non-null   float64
 16  Rainfall          5799 non-null   float64
dtypes: float64(7), int64(2), object(8)
memory usage: 770.3+ KB