### Refining Data

In [15]:
import pandas as pd

In [16]:
# crop_yield = pd.read_csv('Data\crop_yield.csv')
# crop_data = pd.read_csv('Data\Crop_Data.csv')

In [17]:
crop_yield = pd.read_csv('E:\competition\SITNovate hack\SITNovate_blueberry\SITNovate\Data\crop_yield.csv')
crop_data = pd.read_csv('E:\competition\SITNovate hack\SITNovate_blueberry\SITNovate\Data\Crop_Data.csv')

In [18]:
crop_yield.info()
crop_yield.drop(["Crop_Year","Area","Fertilizer","Pesticide","Yield"],axis=1,inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19689 entries, 0 to 19688
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Crop             19689 non-null  object
 1   Crop_Year        19689 non-null  int64
 2   Season           19689 non-null  object
 3   State            19689 non-null  object
 4   Area             19689 non-null  float64
 5   Production       19689 non-null  int64
 6   Annual_Rainfall  19689 non-null  float64
 7   Fertilizer       19689 non-null  float64
 8   Pesticide        19689 non-null  float64
 9   Yield            19689 non-null  float64
dtypes: float64(5), int64(2), object(3)
memory usage: 1.5+ MB

In [19]:
crop_data.info()
crop_data.drop(["Area","Price","Rainfall"],axis=1,inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5373 entries, 0 to 5372
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Crop              5373 non-null   object
 1   Season            5373 non-null   object
 2   State             5373 non-null   object
 3   Area              5373 non-null   float64
 4   Soil Type         5373 non-null   object
 5   Pesticide Usage   5373 non-null   object
 6   pH                5373 non-null   object
 7   Temperature       5373 non-null   object
 8   Fertilizer Usage  5373 non-null   object
 9   Price             5373 non-null   float64
 10  Rainfall          5373 non-null   float64
dtypes: float64(3), object(8)
memory usage: 461.9+ KB

In [20]:
# Clean whitespace in key columns
for df in [crop_yield, crop_data]:
    df['Crop'] = df['Crop'].str.strip()
    df['Season'] = df['Season'].str.strip()
    df['State'] = df['State'].str.strip()

In [21]:
final_merged_df = pd.merge(
    crop_yield,
    crop_data,
    on=['Crop', 'Season', 'State'],
    how='inner'
)

In [22]:
print("Final Merged DataFrame Columns:", final_merged_df.columns.tolist())
print("\nSample Rows:")
print(final_merged_df.head())

Final Merged DataFrame Columns: ['Crop', 'Season', 'State', 'Production', 'Annual_Rainfall', 'Soil Type', 'Pesticide Usage', 'pH', 'Temperature', 'Fertilizer Usage']

Sample Rows:
           Crop  Season  State  Production  Annual_Rainfall      Soil Type  \
0  Cotton(lint)  Kharif  Assam         794           2051.4     Black Soil
1  Cotton(lint)  Kharif  Assam         794           2051.4     Black Soil
2  Cotton(lint)  Kharif  Assam         794           2051.4     Black Soil
3  Cotton(lint)  Kharif  Assam         794           2051.4     Black Soil
4  Cotton(lint)  Kharif  Assam         794           2051.4  Alluvial Soil

  Pesticide Usage       pH Temperature Fertilizer Usage
0             low  Average      Medium             High
1            high  Average      Medium              Low
2             low     High      Medium           Medium
3             low      Low        High             High
4            high     High        High              Low

In [23]:
final_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95321 entries, 0 to 95320
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Crop              95321 non-null  object
 1   Season            95321 non-null  object
 2   State             95321 non-null  object
 3   Production        95321 non-null  int64
 4   Annual_Rainfall   95321 non-null  float64
 5   Soil Type         95321 non-null  object
 6   Pesticide Usage   95321 non-null  object
 7   pH                95321 non-null  object
 8   Temperature       95321 non-null  object
 9   Fertilizer Usage  95321 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 7.3+ MB

### Data preprocessing Start

In [24]:
final_merged_df.to_csv("data/new_data.csv")

In [25]:
final_merged_df

,Crop,Season,State,Production,Annual_Rainfall,Soil Type,Pesticide Usage,pH,Temperature,Fertilizer Usage
0,Cotton(lint),Kharif,Assam,794,2051.4,Black Soil,low,Average,Medium,High
1,Cotton(lint),Kharif,Assam,794,2051.4,Black Soil,high,Average,Medium,Low
2,Cotton(lint),Kharif,Assam,794,2051.4,Black Soil,low,High,Medium,Medium
3,Cotton(lint),Kharif,Assam,794,2051.4,Black Soil,low,Low,High,High
4,Cotton(lint),Kharif,Assam,794,2051.4,Alluvial Soil,high,High,High,Low
...,...,...,...,...,...,...,...,...,...,...
95316,Wheat,Rabi,Jammu and Kashmir,392160,1356.2,Red/Yellow Soil,high,Low,Medium,Medium
95317,Wheat,Rabi,Jammu and Kashmir,392160,1356.2,Laterile Soil,low,High,High,High
95318,Wheat,Rabi,Jammu and Kashmir,392160,1356.2,Red/Yellow Soil,high,Low,Low,Low
95319,Wheat,Rabi,Jammu and Kashmir,392160,1356.2,Alluvial Soil,low,Average,Medium,Medium
95320,Wheat,Rabi,Jammu and Kashmir,392160,1356.2,Black Soil,high,Low,Medium,High

In [26]:
final_merged_df.isnull().sum()

Crop                0
Season              0
State               0
Production          0
Annual_Rainfall     0
Soil Type           0
Pesticide Usage     0
pH                  0
Temperature         0
Fertilizer Usage    0
dtype: int64

In [ ]:
final_merged_df["pH"].dtype

dtype('O')

:

In [ ]:
import pandas as pd
import numpy as np

: